.container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-wrap: wrap;
}

.container__footer {
  margin: 30px;
  box-shadow: 0 5px 50px rgb(250, 176, 176);
  border-radius: 50px;
}
