.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header__contents {
  display: flex;
  align-items: center;
  margin-top: -10px;
  font-size: 20px;
  color: #6e6c6a;
  letter-spacing: 1px;
}

.header__contents > img {
  margin: 0 10px;
}

.header__main {
  width: 100%;
}

.header__border {
  width: 85%;
}

@media only screen and (max-width: 600px) {
  .header__love {
    width: 100%;
  }
}
