.box {
  height: 350px;
  width: 350px;
  overflow: hidden;
  margin: 30px;
  justify-content: center;
  border-radius: 25px;
  box-shadow: 0 5px 50px rgb(250, 176, 176);
}

.box > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 420px) {
  .box {
    height: 300px;
    width: 300px;
    margin: 30px 10px;
  }
}

@media only screen and (max-width: 280px) {
  .box {
    height: 250px;
    width: 250px;
  }
}
